#caixa{
    background-color: #FFE6C1;
    height: 173px;
    width: 749px;
    border-radius: 10px;
    margin-left: 27%;
}
#nome{
    font-size: 24px;
    font-weight: 400;
}
#maxmin{
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    margin-left: 300px;
    text-align:initial;
}
#data{
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: right;
    color:  #00000083;
    text-align: bottom;
}
#code{
    font-size: 33px;
    text-align: center;
}