#rodape{
    background-color: #F9D285;
    height: 68px;
    width: 100%;
    border-radius: 0px;  

}
h6{
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    margin-left: 45%;
    margin-top: -40px;
    height: 36px;
}