#p3{
    margin-top: 150px;
    margin-bottom: -30px;
    margin-left: 590px;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 75px;
    letter-spacing: 0em;
    text-align: center;
}