.Home {
  text-align: center;
}

.Home-logo {
  height: 80vmin;
  pointer-events: none;
}

#incio{
  margin-left: 30px;
}

#menu{
  margin-left: 130px;
  margin-right: 90px;
  padding: 8px;
  text-align: left;
  background-color: #ffffff;
  Width: 1200px;
  Height: 505px;
  display: flex;
  justify-content: space-between;
}
.Home-foto1{
  width: 298px;
  height: 432px;
}
h1{
  height: 75px;
  width:400px;
  font-weight: 400;
  font-family: 'Darker Grotesque', sans-serif;
  color: black;
  font-size: 72px ;
  margin-top: 70px;
}
#fonte{
    margin-top: 30px;
    margin-bottom: 4px;
    margin-left: 220px;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 75px;
    letter-spacing: 0em;
    text-align: center;
}
#retangulo2{
  height: 38rem;
  width: 100%;
  background-color:#ffcb7c48;
  align-content: center;
}
.coluna{
  float: left;
  display: flex;
  justify-content:center;
  border-radius: 1000000px;
  width: 170px;
  height: 170px;
  
}
.row{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 0px;
  margin: 0 290px;
  transform: translate(-22px);
}
h4{
  font-size: 20px;
  color: rgb(5, 5, 5);
  margin-left: 4%;
  font-family: 'Darker Grotesque', sans-serif;
  padding-bottom: 35px;
  font-weight: 400;
  width: 376px;
}
.centro{
  margin-left: 4%;
}
li figure{
  display: inline-block;
  margin-block-start: 1.3em;
  margin-block-end: 3em;
  margin-inline-start: 68px;
  margin-inline-end: 38px;
}
h5{
  font-size: 18px;
  color: rgb(0, 0, 0);
  text-align: center;
  margin-left: 20%;
  margin-right: -24%;
  font-family: 'Darker Grotesque', sans-serif;
  font-weight: 400;
  line-height: 36px;
  width: 266px;
}
.foto{
  width: 150px;
  height: 150px;
}